<div class="row">
  <div class="col-12 col-md-12">

      <!-- ref: https://getbootstrap.com/docs/5.0/components/card/ -->
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Step 2: Choose layout</h5>
            <hr />                      

            <!-- ref: https://getbootstrap.com/docs/4.6/components/forms/ -->
              <!-- ref: https://www.freecodecamp.org/news/how-to-validate-angular-reactive-forms/ -->              
            <form  [formGroup]="dataForm" (ngSubmit)="onDataFormSubmit()">

              <div class="form-group">
                <label for="layout">Layout</label>
                <select class="form-control" id="layout" formControlName="layout">
                  <option value="straightforward">Straightforward</option>
                  <option value="fancy">Fancy</option>                  
                </select>
                <span class="text-danger"
                    *ngIf="(dataFormControls.layout.touched || submitted) && dataFormControls.layout.errors?.required">
                    Layout is required
                </span>
              </div>              

              <hr />
              <button type="submit" class="btn btn-primary">Submit</button>
              
            </form>          

          </div>
      </div>

  </div>
</div>