<div class="row">
    <div class="col-4 col-md-4">
        <img style="width:98%;height:auto" src="assets/images/resume-3604240_1920.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col-8 col-md-8">

        <!-- ref: https://getbootstrap.com/docs/5.0/components/card/ -->
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Welcome to Resume Generator</h5>
              <p class="card-text">
                  This is a tool to quickly generate your own resume. The idea is to rapidly create an eye-catching and professional-looking resume using a few clicks.
              </p>

              <!-- ref: https://angular.io/start/start-routing -->
              <a href="#" [routerLink]="['/step1']" class="btn btn-primary">Get started</a>

            </div>
        </div>

    </div>
</div>