/* You can add global styles to this file, and also import other style files */

.accordion .card .card-header{
    background-color:#536dfe;
}
.accordion .card .card-header button{
    color:white;
}

.accordion .card .card-body{
    background-color:#e1f5fe;
}

a.deleteLink{
  font-size:1.2em;
  color:#ff0000;
  cursor:pointer;
}
a.deleteLink:hover{
  text-decoration: none;
}

.modal-dialog{
  max-width:70%;
}

#div_modalBodyForPrintSettings table td{
  border:0px;
}

#div_to_print, #div_to_print * {
  font-family: "Times New Roman" !important;
}

/* ref: https://stackoverflow.com/questions/468881/print-div-id-printarea-div-only */
/* the code below has been copied from the link just above */
@media print {
    body * {
      visibility: hidden;
    }
    #div_to_print, #div_to_print * {
      visibility: visible;
      font-family: "Times New Roman" !important;
    }
    #div_to_print {
      position: absolute;
      left: 0;
      top: 0;
    }
}

/* start - styles for CV */

#div_to_print .main_heading{
  font-size:1.4em; text-transform: uppercase; font-weight:800
}

#div_to_print .prominent_text{
  font-size:1.05em;
}

#div_to_print table.cv_section{
  width:100%;margin-bottom:6%
}

#div_to_print .cv_section_heading{
  border-bottom:1px solid #0000ff; text-align:center; font-size:1.3em; text-transform: uppercase; font-weight:600; color:royalblue
}

#div_to_print .custom_bordered_table{
  width:95%;margin:0px auto;margin-top:4%
}

#div_to_print .custom_bordered_table th, #div_to_print .custom_bordered_table td{
  border:1px solid #ccc;padding:2%
}

#div_to_print .custom_two_col_table{
  width:95%;margin:0px auto;margin-top:1%
}

#div_to_print .custom_two_col_table td:nth-child(1){
  width:10%;padding-top:3%
}

#div_to_print .custom_two_col_table td:nth-child(2){
  width:90%;padding-top:3%
}

#div_to_print .span_title{
  font-weight:650;font-weight:650;color:#7777ac;
}

#div_to_print .span_bolder{
  font-weight:650;
}

#div_to_print .underlined_text{
  text-decoration: underline;
}

#div_to_print > div{
  padding:2%
}

.cv_fancy_layout .photo_container{
  width:90%;margin:0px auto;text-align: center;
}
.cv_fancy_layout .photo_container img{
  width:65%;border-radius:50%;
}

.cv_fancy_layout .main_heading{text-align:left;margin-top:2%}

.fancy_borders{border:6px solid darkgray; padding:2%; border-style:ridge;}    /* https://www.w3schools.com/css/css_border.asp */
.fancy_borders2{border:0.15em solid #03a9f4; padding:2%; border-style:dashed;}
.small_margin_top{margin-top:5%}
.medium_margin_top{margin-top:8%}

/* end - styles for CV */

#container_for_printable_div{
  width:95%;margin:0px auto;border:1px solid #ccc
}